.sidenav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
}
a:hover{
    text-decoration: none;

}
.container-fluid{
   margin-top: 10hv;
   height: 100%;
}
.material-icons .md-48
{
    font-size: 48px;
}
@media (max-width: 992px)
{

    h1.page-announce-text {
        font-size: 32px;
    }
    div.page-announce {
        min-height: 60px;
        height: auto;
        padding: 10px;
        padding-left: 10px;
    }

}
table{
    margin-top: 5vh;
}

@media (max-width: 768px)
{
    .page-announce-text {
        font-size: 36px;
    }
}
@media (min-width: 768px)
{
    .td-edit{
        width: 3vw;
    }
}

h1,h2,h3,h4{
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
}
h1 {
    font-size: 4.2rem;
    line-height: 110%;
    margin: 2.1rem 0 1.68rem 0;
}

div.page-announce {
    min-height: 175px;
    height: auto;
    background-color: #424242;
    padding: 20px;
    margin-bottom: 10px;
}
h1.page-announce-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    color: #fff;
    line-height: 0.5em;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
}

@media (max-width: 768px)
{
    .page-announce {
        padding: 20px;
    }
}

header, main, footer {
    padding-left: 300px;
  }

  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }

.dash-icon{
    font-size: 5rem  !important;
    text-align: center !important;
}


