body{
    background: rgb(122,14,21);

}
.sidenav, .dropdown-content{
    /* background: rgb(149,159, 161, 0.4); */
    background: rgb(122,14,21,0.3);
    color: white;
}

.nav-scrolled{
    background: rgb(122,14,21,0.3) !important;
    /* background: rgb(149,159, 161, 0.7) !important; */
    transition: all 0.4s ease-in-out;
    color: white;
}
nav{
    background-color: rgb(250,250,250,0.2);

}
.user-view{
    height: 40%;
}
.navbar-fixed {
    position: fixed;
    top: 0;
}
#dropdownNavbar{
    color: black !important;
}
a{
    color: black;
}
.form-content{
    margin-top: 10vh;
}
#particles-js canvas {

    -webkit-transform: scale(1) !important;
    -ms-transform: scale(1) !important;
    transform: scale(1) !important;
    opacity: 1 !important;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease !important;
    transition: opacity .8s ease, transform 1.4s ease !important;
}

.container h4{
    margin-top: 10vh;
    text-align: center;
}
.pages{
    width: 100% !important;
    min-height: 100vh !important;
    margin: 0 auto;
    background-color: rgb(122,14,21);
    display: flex;
}
.card-background{
    background-color: rgba(255, 255, 255, 0.1);
}
.tabs{
    width: 100% !important;
    margin: 0 auto;
    margin-top: 5vh;
}
.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: transparent;
    outline: none;
}
.idiomas{
    margin-top: 5vh;
}
#tab-estudios, #tab-idiomas, #tab-lenguajes, #tab-framework{
    height: auto !important;
}
.tabs-content.carousel {
    height: 100%;
    overflow-x:hidden;
    overflow-y: scroll;
 }

#particles-js {
    width: 100% !important;
    height: 100vh !important;
    margin: 0 auto;
    background-color: rgb(122,14,21);
    display: flex;
    align-items: center;

}
.particles-js-canvas-el{
    position: absolute;
}
.lead {
    font-size: 1.25rem;
    font-weight: 300;
  }

  .display-1 {
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.2;
  }

  .display-2 {
    font-size: 5.5rem;
    font-weight: 300;
    line-height: 1.2;
  }

  .display-3 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
  }

  .display-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
  .caption h1,h4{
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
   }
   .caption{
       justify-content: center;
       align-items: center;

   }
   .caption h4{
    animation: slidein 7s;
   }
   @keyframes slidein {
    0% { margin-top:-800px; }
    20% { margin-top:-800px; }
    35% { margin-top:0px; }
    100% { margin-top:0px; }
    }
    #logo-container{
       margin-top: 5vh;
    }
    #logo{
        vertical-align: center;
        animation: fadein 4s;
    }
    @keyframes fadein {
        0% { opacity: 0; }
        10% { opacity: 0.1; }
        20% { opacity: 0.2; }
        30% { opacity: 0.3; }
        40% { opacity: 0.4; }
        50% { opacity: 0.5; }
        60% { opacity: 0.6; }
        70% { opacity: 0.7; }
        80% { opacity: 0.8; }
        90% { opacity: 0.9; }
        100% { opacity: 1; }
        }

.login{
    margin: 3%;
}
.modal-close{
    position: absolute !important;
    top: 10px !important;
    right: 10px !important;
    margin: 0 !important;
    padding: 0 !important;
}
@media (min-width: 992px){
    #logo{
        margin-left: 20%;
    }
}
@media (max-width: 768px)
{
    .caption{
        border-left: 3px solid white;
        margin-left: 15px;
        justify-content: left;
    }
    .caption h1,h4{
        margin-left: 10px;
        font-family: 'Nunito', sans-serif;
        font-weight: 200;
    }

    #particles-js {
        width: auto !important;
        height: 100vh !important;
        margin: 0 auto;
    }

    #particles-js canvas {
        -webkit-transform: scale(1) !important;
        -ms-transform: scale(1) !important;
        transform: scale(1) !important;
        opacity: 1 !important;
        -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease !important;
        transition: opacity .8s ease, transform 1.4s ease !important;
    }
}

/* Image accordion style*/

.slider-container {
    vertical-align: center;
  }
  .slider-container h2 {
    text-align: center;
  }
  .flexbox-slider {
    margin-top: 50px;
  }
  /*slide styles !!!YOU NEED THEM */
  .flexbox-slider {
    display: flex;
    width: 100%;
    height: 500px;
    visibility: hidden;
  }
  .flexbox-slider .flexbox-slide {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-delay: 0s;
    width: 20%;
    height: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    visibility: visible;
  }
  .flexbox-slider .flexbox-slide:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 2;
    opacity: 0;
  }
  .flexbox-slider .flexbox-slide img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    width: auto;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }


  .flexbox-slider .flexbox-slide .text-block {
    position: absolute;
    left: 30px;
    bottom: 30px;
    max-width: 400px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
  }
  .flexbox-slider .flexbox-slide .text-block h3 {
    font-size: 20px;
    font-weight: 700;
  }
  .flexbox-slider:hover .flexbox-slide:hover {
    flex-shrink: 0;
    width: 80%;
  }

  /* effect 2 styles */
  .flexbox-slider.flexbox-slider-2 .flexbox-slide .text-block {
    left: -60px;
  }
  .flexbox-slider.flexbox-slider-2:hover .flexbox-slide:not(:hover):after {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    opacity: 1;
  }
  .flexbox-slider.flexbox-slider-2:hover .flexbox-slide:hover .text-block {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0, 0, 0, 1.82);
    transition-delay: 0.5s;
    left: 30px;
    opacity: 1;
    visibility: visible;
  }
.contact-feed{
    background-color: rgb(255,255,255,0.8);
}
.contacto{
    margin-top: 10%;
    padding: 5%;
}
  /* label color */
  .input-field label {
    color: #ffffff !important;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #ffffff !important;
  }
  .input-field textarea:focus + label {
    color: #ffffff !important;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #ffffff !important;
    box-shadow: 0 1px 0 0 #ffffff !important;
    color: #ffffff !important;
  }
  .input-field textarea:focus {
    border-bottom: 1px solid #ffffff !important;
    box-shadow: 0 1px 0 0 #ffffff !important;
    color: #ffffff !important;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #ffffff !important;
    box-shadow: 0 1px 0 0 #ffffff !important;
    color: #ffffff !important;
  }
  .input-field textarea.valid {
    border-bottom: 1px solid #ffffff !important;
    box-shadow: 0 1px 0 0 #ffffff !important;
    color: #ffffff !important;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #ffffff !important;
    box-shadow: 0 1px 0 0 #ffffff !important;
  }
  .input-field textarea.invalid {
    border-bottom: 1px solid #ffffff !important;
    box-shadow: 0 1px 0 0 #ffffff !important;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #ffffff !important;
  }
